# Why the following has to be done: Usually home directory will accumulate files and directories as you continue using
# your system. By blacklisting everything and whitelisting the necessary files and directories for LARBS we keep git
# from complaining about untracked files that we dont want to track.

# blacklist everything in the home direcotry
*

# start whitelisting all the necessary config files and directories
!.gitignore
!.gitmodules
!LICENSE
!README.md
!.profile
!.xinitrc
!.xprofile
!.zprofile
!.local/share/bg
!.config/directories
!.config/files
!.config/mimeapps.list
!.config/files
!.config/ttymaps.kmap
!.config/wall.png
!.config/xinitrc
!.config/aliasrc
!.config/inputrc
!.config/user-dirs.dirs
!.config/Xresources

!.local/bin/LARBS/*
!.local/bin/larbs/*
!.local/share/applications/*
!.config/alsa/*
!.config/calcurse/*
!.config/dunst/*
!.config/fontconfig/*
!.config/gtk-2.0/*
!.config/gtk-3.0/*
!.config/mpd/*
!.config/mpv/*
!.config/ncmpcpp/*
!.config/nvim/*
!.config/sxiv/*
!.config/vifm/*
!.config/wal/*
!.config/wget/*
!.config/zathura/*
!.config/zsh*
!.config/tmux/*
